$taskbarHeight: 30px;

$colorBlank     : #555555;
$colorDesktop   : #008081;
$colorDesktopText: #ffffff;
$colorButtonFace: #c0c0c0;
$colorButtonLight: #fdfffc;
$colorButtonShadow: #808080;
$colorButtonText  : #000000;

@mixin buttonBorders {
    border-top: 1px solid $colorButtonLight;
    border-left: 1px solid $colorButtonLight;
    border-bottom: 1px solid $colorButtonShadow;
    border-right: 1px solid $colorButtonShadow;
    box-shadow: 1px 1px 0px black;
}

@mixin recessedBorders {
    border-top: 1px solid $colorButtonShadow;
    border-left: 1px solid $colorButtonShadow;
    border-bottom: 1px solid $colorButtonLight;
    border-right: 1px solid $colorButtonLight;
    box-shadow: none;
}

@mixin frameShadow {
    box-shadow: 2px 2px 2px black;
}

@mixin noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@mixin taskbarButtonWithIcon {
    background-size: 16px;
    background-position: 2px center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow: hidden;
    background-color: $colorBlank;
    font-family: sans-serif;
    font-size: 8pt;

    .desktop {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: $taskbarHeight;
        background-color: $colorDesktop;

        .column {
            display: block;
            width: 128px;

            .icon {
                display: inline-block;
                padding: 16px;
                color: $colorDesktopText;
                text-align: center;

                img {
                    margin: 0 32px;
                }
            }
        }
    }
    
    .taskbar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $taskbarHeight;
        padding: 2px 3px;
        background-color: $colorButtonFace;
        border-top: 1px solid $colorButtonLight;
        
        .button {
            display: inline-block;
            min-height: $taskbarHeight - 6px;
            min-width: 150px;
            line-height: $taskbarHeight - 12px;
            padding: 2px 5px;
            background-color: $colorButtonFace;
            color: $colorButtonText;
            @include buttonBorders;
            @include noSelect;
            cursor: default;

            &.start {
                max-width: 70px;
                min-width: 70px;
                background: url('../img/start_button.png');
                background-size: auto 16px;
                background-position: center;
                background-repeat: no-repeat;
            }

            &.pressed {
                @include recessedBorders;
            }

            &.icon-my-computer {
                background: url('../img/my_computer_16x16.png');
                @include taskbarButtonWithIcon;
            }

            &.icon-control-panel {
                background: url('../img/control_panel_16x16.png');
                @include taskbarButtonWithIcon;
            }
        }
    }

    .start-menu {
        display: none;
        position: absolute;
        height: 200px;
        width: 200px;
        left: 1px;
        bottom: $taskbarHeight - 1px;
        background-color: $colorButtonFace;
        @include buttonBorders;
        @include frameShadow;
    }

}